@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');

.connected {
	background: green !important;
	color: white;
}

.notconnected {
	background: orange !important;
}

div[class^="MuiGrid-typeContainer-"], div[class*=" MuiGrid-typeContainer-"] {
	padding: 5px 10px 5px 10px;
}

body {
	background: bisque !important;
}

div[class^="Channels-peerGroup-"], div[class*="Channels-peerGroup-"]{
	background: beige !important;
	margin-bottom: -7px;
}

div[class^="Contracts-peerGroup-"], div[class*="Contracts-peerGroup-"] {
	background: azure !important;
}

div[class^="ChannelCard-cardDisabled-"], div[class*="ChannelCard-cardDisabled-"] {
	background: gainsboro !important;
}
